.toprow{
    background-color: #e03256;
    border-color: #dd908c;
}
a{
    color: #000000;
}
a:hover{
    color: #0085e0;
}
a:link {
    text-decoration: none;
}
.top_image{
    margin-top: -20px;
}
.title-text{
    color: rgba(0,0,0,.8);
    text-shadow: rgba(0,0,0,.2) 2px 6px 5px,rgba(255,255,255,.4) 0 -4px 30px;
    text-align: center;
}
.add-btn{
    margin-left: 25px;
}
.top-link{
    display: block;;
    transition: background-color .2s, transform .2s;
}
.top-link:hover{
    -webkit-transform:rotatey(360deg);
    transform:rotatey(360deg);
}
.project{
    margin-top: 20px;
    margin: 0px 400px 0px 400px;
    width: 800px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.icon_image{
    float:left;
    border-radius: 50%;
    padding: 10px;
    -moz-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
    -webkit-box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
    box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}
.section h3{
    float: none;
    margin-top: 10px;
    display: inline-block;
}